$text-color: #0763A6;
$text-color-hover: #0BCED1;
$btn-background: linear-gradient(103.43deg, #0BCED1, #00AEFF, #0BCED1);
$btn-shadow: 0px 8px 20px rgba(0, 174, 255, 0.5);
$btn-text-color: #ffffff;
$container-padding: 20px;