.admin-panel {
    max-width: 1440px;
    margin: 0 auto;
}

.admin-panel__header {
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-title {
    margin: 0;
    color: #314b55;
}

.header-menu {
    margin-left: auto;
    display: flex;
}

.header-menu__link {
    display: block;
    font-size: 14px;
    color: #00aeff;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #00aeff;
    text-decoration: none;
}

.header-menu__link:hover {
    cursor: pointer;
    color: #fff;
    background-color: #00aeff;
}

.header-menu__link:not(:first-child) {
    margin-left: 10px;
}



@media screen and (max-width: 600px) {
    .admin-panel {
        min-height: calc(100vh - 60px);
        margin: 10px;
        border-radius: 10px;
    }
}

