.admin-panel {
    max-width: 1440px;
    width: 100%;
    min-height: calc(100vh - 120px);
    margin: 40px;
    padding: 20px;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    align-self: start;
}

.admin-panel__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.header-title {
    margin: 0 0 20px 0;
}

.header-menu {
    margin-left: auto;
    display: flex;
}

.header-menu__link {
    display: block;
    margin-left: 20px;
    font-size: 20px;
    color: #175676;
    text-decoration: none;
}

.header-menu__link:hover {
    cursor: pointer;
    color: #63ADF2;
}

@media screen and (max-width: 600px) {
    .admin-panel {
        min-height: calc(100vh - 60px);
        margin: 10px;
        border-radius: 10px;
    }
}

