.update {
    padding: 0 20px;
    margin-bottom: 20px;
}
.update-loading {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.update-title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 40px;
    color: #314b55;
}

.update-form {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.input-list {
    width: calc(50% - 22px);
    padding: 10px;
}

.input-list:first-child {
    border-right: solid 1px #eeeeee;
}


.input-list h4{
    color: #314b55;
    margin-bottom: 30px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.input-label {
    width: 100px;
    display: block;
}

.input-text {
    padding: 5px;
    border: 1px solid #00aeff;
    border-radius: 2px;
    width: calc(100% - 100px);
}
 

.input-text:focus{
   outline: 5px solid #00aeff46;
}

.custom-file-upload {
    width: calc(100%);
    border: 1px solid #00aeff;
    border-radius: 2px;
    margin: 0 auto;
    padding: 6px;
    color: #00aeff;
    cursor: pointer;
    text-align: center;
    transition: .2s;
}

.custom-file-upload:hover {
    transition: .2s;
    color: #fff;
    background-color: #00aeff;
}

.btn-update {
    display: block;
    margin: 20px auto;
    padding: 5px;
    min-width: 100px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    color: rgb(50, 177, 50);
    border: 1px solid rgb(50, 177, 50);
    transition: .2s;
}
.creation-success {
    margin: 50px auto 20px;
    text-align: center;
    font-size: 34px;
    color: #00c451;
}

.creation-actions {
    display: flex;
    justify-content: center;
}

.actions-btn {
    margin: 0 10px;
    display: block;
    font-size: 14px;
    color: #00aeff;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #00aeff;
    transition: .2s;
}

.actions-btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: #00aeff;
}

.btn-update:hover {
    cursor: pointer;
    color: #fff;
    background-color: rgb(50, 177, 50);
}
input[type="file"] {
    display: none;
}

.update small{
    font-size: 12px;
    font-weight: normal;
    color: #839aa3c8;
}


@media screen and (max-width: 850px) {
    .input-list {
        padding: 0;
        min-width: calc(100% - 20px);
        margin-bottom: 20px;
    }

    .input-list:first-child {
        border-right: none;
        border-bottom: solid 1px #eeeeee;
    }
}
