.contacts-item {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.item-image {
    border-radius: 100%;
    width: 60px;
    transition: 0.1s;
}
.item-image:hover {
    width: 70px;
    box-shadow: 2px 4px 5px rgba(0, 174, 255, 0.5);

}

@media screen and (max-width: 320px) {
    .contacts-item {
        margin: 10px;
    } 
}