.contacts-item {
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.item-image {
    width: 64px;
    transition: 0.1s;
}
.item-image:hover {
    width: 72px;
}