.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    margin: 30px 0;
    &__img {
        width: 150px;
    }
}

.header-languages {
    display: flex;
    &__item {
        margin-left: 5px;
        padding: 5px 8px 4px;
        font-size: 10px;
        line-height: 10px;
        color: #0763a6;
        font-weight: bold;
        border-radius: 30px;
        background: linear-gradient(146.3deg, #ffffff 14.65%, #ffffff 85.35%);
        &:hover {
            cursor: pointer;
            color: #ffffff;
            background: linear-gradient(146.3deg, #00AEFF 14.65%, #0BCED1 85.35%);
        }
    }
    &__selected {
        color: #ffffff;
        background: linear-gradient(146.3deg, #00AEFF 14.65%, #0BCED1 85.35%);
    }
}

@media screen and (max-width: 768px) {
    .header-logo {
        margin: 25px 0;
    }
}

@media screen and (max-width: 480px) {
    .header-logo {
        margin: 20px 0;
    }
}

@media screen and (max-width: 320px) {
    .header-logo {
        margin: 15px 0;
    }
}
