.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient {
    background: linear-gradient(to bottom, rgba(99,173,242,1) 0%, rgba(167,204,237,1) 100%);
}